body {
  background-color: black;
}

.bgHome {
  height: 100vh;
  background-color: black;
}

.containerLogin {
  height: 100vh;
  background-color: black;
  background-size: cover;
}

.formLogin {
  width: 300px;
  background-color: rgb(33, 32, 32);
}

.formInput {
  background-color: rgb(67, 66, 66) !important;
  color: rgb(213, 209, 209) !important;
  border-color: rgb(67, 66, 66) !important;
}

::placeholder {
  color: rgb(210, 206, 206) !important;
}

.buttonLogin {
  background-color: rgb(189, 30, 30) !important;
  border: none;
  color: rgb(199, 198, 198);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.buttonLeft {
  background-color: rgb(189, 30, 30) !important;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonLeft1 {
  background-color: black !important;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbarBg {
  background-color: black !important;
}

.bgProduct {
  background-color: black !important;
}

.bgCard {
  border: none !important;
}

.cardPrice {
  border-radius: 5px !important;
}

.descProduct {
  text-align: justify;
}

.detailTransaction p {
  font-size: 12px !important;
}

.bgTransac {
  background-color: rgb(40, 39, 39) !important;
}
